@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --color-primary: #1E88E5;
  --color-primary-dull: #4F46E5;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "outfit", sans-serif;
  padding: 0;
  margin: 0;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
